@import '../../scss/index.scss';

.home {
  &__title {
    border-bottom: 1px solid $border-grey;
    padding: 15px;
  }

  h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
  }
}
