@import '../../scss/index.scss';

.user {
  &__title {
    border-bottom: 1px solid $border-grey;
    padding: 15px;

    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  &__tiwtts {
    h3 {
      border-bottom: 1px solid $border-grey;
      font-size: 18px;
      padding: 15px;
    }
  }
}
