@import '../../../scss/index.scss';

.twitt-modal {
  .modal-content {
    background-color: $background-grey-dark;
    border-radius: 25px;
    overflow: hidden;
  }

  .modal.header {
    border-bottom: 1px solid $border-grey;
  }
}
